<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Homepage</h1>
    <h3>Total users : <%= count %></h3>
    <a href="/user">View All</a>
    <a href="/user/new"><button>Join Us!</button></a>
</body>
</html>