<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Details</title>
</head>
<body>
    <h1>Update Details :</h1>
    <h3>Id : <%= id %></h3>
    <form action="/user/<%= id %>?_method=PATCH" method="post">
        <input type="text" placeholder="username" name="username"> <br><br>
        <input type="email" placeholder="email" name="email"> <br><br>
        <h4>Enter Your Password to Update.</h4>
        <input type="password" placeholder="password" name="password"> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>